  <div class="head">
    <nav class="navbar navbar-default">
      <div class="navbar-inner">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: isCurrentPath('/listvente') }"><a href="#!/listvente/">Ventes</a></li>
            <li ng-class="{ active: isCurrentPath('/vendors') }"><a href="#!/vendors/">Vendeurs</a></li>
            <li ng-class="{ active: isCurrentPath('/clients') }"><a href="#!/clients/">Acheteurs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>