<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
	
	<import resource="classpath:/spring/applicationContext-rest.xml" />
	<bean id="top" class="org.restlet.ext.spring.SpringComponent">
    	<property name="server">
        	<bean class="org.restlet.ext.spring.SpringServer">
            	<constructor-arg value="http" />
            	<constructor-arg value="${server.port}" />
        	</bean>
    	</property>
    	<property name="defaultTarget" ref="default" />
    	<property name="client" value="clap" />
	</bean>
	
		<bean id="directory" class="fr.esdeve.restresources.SpringDirectory">
		<property name="component"><ref local="top"/></property>
	</bean>

	<bean id="default" class="org.restlet.ext.spring.SpringRouter">
		<property name="attachments">
        <map>
            <entry key="/rest" value-ref="root">
            </entry>
            <entry key="/html" value-ref="directory">
            </entry>
        </map>
   	 </property>
	</bean>


	
</beans>