<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">


	
<bean id="root" class="org.restlet.ext.spring.SpringRouter">
    <property name="attachments">
        <map>
            <entry key="/ventes/{venteId}">
            	<bean class="org.restlet.ext.spring.SpringFinder">
                    <lookup-method name="create" bean="venteResource" />
                </bean>
            </entry>
            <entry key="/ventes">
            	<bean class="org.restlet.ext.spring.SpringFinder">
                    <lookup-method name="create" bean="venteListResource" />
                </bean>
            </entry>
            <entry key="/clients">
                <bean class="org.restlet.ext.spring.SpringFinder">
                    <lookup-method name="create" bean="clientListResource" />
                </bean>
            </entry>
            <entry key="/clients/{clientId}">
                <bean class="org.restlet.ext.spring.SpringFinder">
                    <lookup-method name="create" bean="clientResource" />
                </bean>
            </entry>
            <entry key="/vendors/{vendorId}">
                <bean class="org.restlet.ext.spring.SpringFinder">
                    <lookup-method name="create" bean="vendorResource" />
                </bean>
            </entry>
            <entry key="/vendors">
                <bean class="org.restlet.ext.spring.SpringFinder">
                    <lookup-method name="create" bean="vendorListResource" />
                </bean>
            </entry>
            <entry key="/articlesventes/{articleId}">
                <bean class="org.restlet.ext.spring.SpringFinder">
                    <lookup-method name="create" bean="articleVenteListResource" />
                </bean>
            </entry>
            <entry key="/articles">
                <bean class="org.restlet.ext.spring.SpringFinder">
                    <lookup-method name="create" bean="articleListResource" />
                </bean>
            </entry>
            <entry key="/articles/{articleId}">
                <bean class="org.restlet.ext.spring.SpringFinder">
                    <lookup-method name="create" bean="articleResource" />
                </bean>
            </entry>
        </map>
    </property>
	</bean>
	</beans>