<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<listener>
		<listener-class>fr.esdeve.JPAListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>OpenSDV Application</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<param-name>UIProvider</param-name>
			<param-value>fr.esdeve.OpenSdvUIProvider</param-value>
		</init-param>
		<init-param>
			<param-name>UIContextConfigLocation</param-name>
			<param-value>/META-INF/spring/applicationContext.xml</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>fr.esdeve.AppWidgetSet</param-value>
		</init-param>
		    <!-- Enable server push -->
	    <init-param>
	      <param-name>pushmode</param-name>
	      <param-value>automatic</param-value>
	    </init-param>
	    <async-supported>true</async-supported>
	</servlet>

	<!-- Bind as an ordinary VaadingServlet -->
	<servlet-mapping>
		<servlet-name>OpenSDV Application</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>