<h3>Liste des ventes</h3>
<hr/>
<div id="alerts-container"></div>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>
			#
			</th>
			<th>
			Lieu
			</th>
			<th>
			Date
			</th>
			<th>
			Actions
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="vente in ventes" ng-class="{active:todo.done}">
			<td><a ng-href="#!/vente/{{vente.id}}">{{vente.name}}</a></td>
			<td>{{vente.location}}</td>
			<td>{{vente.date | date:'medium'}}</td>
			<td><a href="#!/{{vente.id}}/delete"
				ng-click="deleteVente(vente);"
				class="btn btn-danger btn-xs pull-right">Delete</a>
                <a
				ng-href="#!/vente/{{vente.id}}/edit"
				class="btn btn-primary btn-xs pull-right" style="margin-right: 8px;">Edit</a>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<a href="#!/addvente" class="btn btn-primary">Nouvelle vente</a>