<h3>Vente : {{vente.name}} {{vente.date | date:'medium'}}</h3>
<hr/>

<div class="panel panel-default">
    <div class="panel-heading">Objets de la vente ({{articles.length}})</div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Numéro de passage
                </th>
                <th>
                    Designation
                </th>
                <th>
                    Vendeur
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="article in articles">
                <td>{{article.id}}</td>
                <td>{{article.venteOrder}}</td>
                <td>{{article.designation}}</td>
                <td>{{article.vendor.name}}</td>
                <td>
                    <a
                            ng-href="#!/article/{{article.id}}/edit"
                            class="btn btn-primary btn-xs pull-right" style="margin-right: 8px;">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
        <hr/>
    </div>
</div>