<h3>Vente : {{vente.name}}</h3>
<hr/>
<div class="panel panel-default">
    <div class="panel-heading">Informations</div>
<table class="table table-striped">
    <tr>
        <td>Date</td>
        <td>{{vente.date | date:'medium'}}</td>
    </tr>
    <tr>
        <td>Chiffre d'affaire</td>
        <td>{{venteca | currency}}</td>
    </tr>
</table>
</div>

<ul class="nav nav-tabs">
    <li ng-class="{ active: currentTab=='objects' }" ><a ng-href="#!/vente/{{vente.id}}/objects">Objets</a></li>
    <li ng-class="{ active: currentTab=='clients' }" ><a ng-href="#!/vente/{{vente.id}}/clients">Acheteurs</a></li>
    <li ng-class="{ active: currentTab=='orders' }" ><a ng-href="#!/vente/{{vente.id}}/orders">Ordres</a></li>
</ul>


<div class="panel panel-default" ng-include="currentTabTpl">

</div>