@import "fonts/open-sans.scss";
/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin opensdv {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
  $text-color: #5a6066;
  $font-size: 14px;
  
   &.v-app,
        .v-drag-element,
        .v-contextmenu,
        .v-menubar-popup,
        .v-filterselect-suggestpopup,
        .v-datefield-popup,
        .v-popupview-popup,
        .v-Notification,
        .v-window,
        .v-tooltip {
                color: $text-color;
                //font: $font;
                font-family: "Open Sans", Arial, sans-serif;
                font-size: $font-size;
                line-height: 1.5;
        }
        
        .v-spacing {
         height: 12px;
         width: 12px;
        }
  
  .title {
		font-size: 36px;
		line-height: 1;
		font-weight: 300;
		letter-spacing: -0.05em;
    }
    
   .toolbar {
   		padding: 20px;
   		text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
   }
   
}